*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
h1{
    text-align: center;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: aliceblue;
}
.listado-peliculas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.pelicula{
    width: 25%;
    min-width: 300px;
    margin: 1rem;
    padding: 1rem;
    background-color: aliceblue;
    border-radius: 0.3px;
    box-shadow: 3px 3px 4px -3px rgba(0,0,0,0.75);
}
.precio{
    text-align: right;
    font-weight: 600;
    margin-top: 0.3rem;
}
.verMas{
    background-color: darkgreen;
    color: white;
    text-transform: uppercase;
    padding: 0.3rem 0.5rem;
    border-radius: 0.2rem;
    margin: 0.5rem auto;
    border: none;
    cursor: pointer;
    display: block;
    text-align: center;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}
.verMas:hover{
    background-color: rgb(9, 64, 9);
}

/* admin */
.crear{
    text-align: center;
}
.nuevoRegistro{
    cursor: pointer;
    padding: 0.5rem 1rem;
    background-color: #80af8b;
    border: none;
    margin: 0.3rem;
    text-transform: uppercase;
    color: white;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-size: 1rem;
}

.nuevoRegistro:hover{
    background-color: #6f9878;
}

table tr:nth-child(odd) {
    background-color: #b3dabc; /* Color gris claro para las filas impares */
  }
.tabla-peliculas{
    border: 1px solid black;
    margin: 0 auto;
}
.tabla-peliculas td, .tabla-peliculas th{
    border: 1px solid black;
    padding: 0.5rem;
}
.td-icono{
    text-align: center;
}
.td-icono button{
    cursor: pointer;
    padding: 0.2rem;
    border: none;
    background-color: #80af8b;
    box-shadow: 2px 2px 4px -3px rgba(0,0,0,0.75);
}

.td-icono button:hover{
    background-color: #6f9878;
}

/* Formulario para nuevos registros */

.formulario-creacion{
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #b1e7bd;
}

.campo-form{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.campo-form input,
.campo-form select{
    margin: 0.5rem auto;
    padding: 0.5rem;
    width: 75%;
}
.campo-form label{
    width: 20%;
}
.sub-formulario{
    text-align: end;
}

/* Select */
  
  .box select {
    background-color: #80af8b;
    color: white;
    cursor: pointer;
    border: none;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    outline: none;
    text-transform: uppercase;
  }

  .box select:hover{
    background-color: #6f9878;
}
